/* comments popup */
/* overlay needed to restrict background access */
.comments-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9
}

.comments-popup {
    position: fixed;
    top: 8vh;
    bottom: 8vh;
    left: 0;
    right: 0;
    height: 84vh;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    background-color: #e9ecef;
}

.close-popup {
    position: fixed;
    right: 0.5vw;
    cursor: pointer;
}

/* needed for elements inside markup data */
.comments-popup p,
.comments-popup ul,
.comments-popup ol,
.comments-popup pre {
    margin-bottom: 0;
}

/* user comments fixed icon */
.user-comments-icon {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1101;
}

/* needed for popup over popup */
/* above bootstrap's navbar */
.user-comments-overlay {
    position: fixed;
    z-index: 1100;
}

/* for comments list */
.comments-list-update {
    display: none;
}

.comments-list-row:hover .comments-list-update {
    display: inline;
    position: absolute;
}

.comments-subscript {
    font-size: 0.575rem;
}

.comments-list-card {
    background-color: #ffffff;
}