/* sign in page */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #808080
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #808080;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.left-menu-icon {
    display: none;
}


@media only screen and (max-width: 992px) {

    .left-menu-icon {
        display: block;
    }

    .left-menu-icon i {
        height: 24px;
        width: 24px;
        background-color: #e8e5e5;
        border-radius: 50%;
        display: inline-block;
    }

    .left-menu-container {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100vw;
        z-index: 2000;
    }

    .left-menu-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 2000;
        background-color: #ffffff;

        /* gmail's left menu transition */
        -webkit-transition-duration: .15s;
        transition-duration: .15s;
        -webkit-transition-property: left, right, box-shadow;
        transition-property: left, right, box-shadow;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .left-menu-popup {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: scroll;

        background-color: #ffffff;
        /* padding: 0 1rem 0 1rem; */
    }

    .left-menu-enter {
        box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
        left: 0;
        right: 20vw;
    }

    .left-menu-exit {
        box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0);
        left: -80vw;
        right: 100vw;
    }
}

.header-menu .button-title {
    font-size: 9.5px;
    font-weight: 550;
}

.login-img {
    height: 50vh;
}

@media only screen and (max-width: 992px) {
    .login-img {
        height: 30vh;
    }
}

.about-page div {
    margin-bottom: 8px;
}

.about-page li {
    margin-bottom: 8px;
}

.about-img {
    width: 60%;
    margin: auto;
}

.about-img-2 {
    width: 80%;
    margin: auto;
}

.about-page .content div {
    margin-bottom: 0;
}

.about-page .content * {
    cursor: default !important;
    pointer-events: none !important;
}

@media only screen and (max-width: 992px) {
    .about-img {
        width: 70vw;
    }

    .about-img-2 {
        width: 80vw;
    }
}

.about-card {
    background-color: #e9ecef;
    border-radius: 10px;
}

/* sticky menu for easy scroll to content */
.sticky-menu {
    position: sticky;
    /* below top menu */
    top: 56px;
    background-color: #ffffff;
    padding-bottom: 2px;
    /* behind any popups */
    z-index: 5;
}

.sub-menu {
    padding-bottom: 2px;
    background-color: #f2f3f4;
    border-top: 1px solid rgb(222, 226, 230);
    border-bottom: 1px solid rgb(222, 226, 230);
}

/* fix for sticky menu: scrolling to behind top menu bars  */
* {
    scroll-margin-top: 108px;
}

/* fix for high number of pages */
.pagination-scroll {
    max-width: 90vw;
    overflow: scroll;
}

/* fixed refresh icon */
.refresh-icon {
    position: fixed;
    right: 16px;
    bottom: 5px;
    z-index: 1031;
}

.header-shadow {
    box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.10196);
}

.footer-shadow {
    box-shadow: 0 0px 13px 4px rgba(0, 0, 0, 0.10196);
}

.footer-empty {
    height: 54px;
}