/* css for projects list */
.list-row {
    cursor: pointer;
    border-top: thin solid #dee2e6;
}

.list-row .list-button {
    display: none;
}

/* change color if list row is selected */
.list-selected {
    background-color: #0dcaf0;
    pointer-events: none;
}

/* display the button if list row is selected */
.list-selected .list-button {
    display: inline;
    pointer-events: all;
    cursor: default;
}

.list-selected .list-details {
    display: none
}

/* for tasks list */
.task-list-row {
    border-bottom: thin solid #dee2e6;
}

.task-list-update {
    display: none;
}

.task-list-row:hover .task-list-update {
    display: inline;
}

.task-list-row .task-list-buttons {
    position: relative;
    display: none;
}

.task-list-update:hover .task-list-buttons {
    display: inline;
}

/* for update popup */
.update-list-row {
    border-top: thin solid #ffffff;
}

.update-list-row-selected {
    border-right: thin solid #ffffff;
    border-radius: 0.5rem;
}

.update-popup-button {
    visibility: hidden;
}

.update-list-row:hover .update-popup-button {
    visibility: visible;
}

.update-popup-container {
    position: relative;
    display: inline-block;
}

.update-popup {
    display: block;
    position: absolute;
    /* top: 0; */
    right: 0;
    z-index: 8;
    width: 12rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.update-popup button {
    display: inline-block;
    margin: 0.2rem 0 0.2rem 0;
    width: 100%;
    text-align: right;
}

.update-popup button i {
    vertical-align: middle !important;
}

/* for pomodoro display */
.pomodoro-display-top {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pomodoro-display-top-deco {
    color: #ffffff;
    font-size: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    font-variant-numeric: tabular-nums;
}

.pomodoro-display-top-deco i {
    margin-left: 0.2rem;
    cursor: pointer;
}

/* for loader of lists */
.loader-container {
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #0dcaf0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
    margin: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* for lists row */
.project-name {
    font-size: 0.875rem;
    line-height: 1.3;
}

.description {
    font-size: 0.875rem;
    line-height: 1.3;
}

.subscript {
    font-size: 0.575rem;
    padding-top: 0.2rem;
}