/* css for projects list */
.list-row {
    cursor: pointer;
    border-top: thin solid #dee2e6;
}

.list-row .list-button {
    display: none;
}

/* change color if list row is selected */
.list-selected {
    background-color: #0dcaf0;
    pointer-events: none;
}

/* display the button if list row is selected */
.list-selected .list-button {
    display: inline;
    pointer-events: all;
    cursor: default;
}

.list-selected .list-details {
    display: none
}

/* for tasks list */
.task-list-row {
    border-top: thin solid #dee2e6;
}

.task-list-update {
    display: none;
}

.task-list-row:hover .task-list-update {
    display: inline;
}

.task-list-row .task-list-buttons {
    position: relative;
    display: none;
}

.task-list-update:hover .task-list-buttons {
    display: inline;
}

/* for update popup */
.update-list-row {
    border: thin solid #ffffff;
    background-color: #ffffff;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
}

.update-list-row-selected {
    border: thin solid #000000;
    border-radius: 8px;
}

.update-popup-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.update-list-row-selected .update-popup-container {
    cursor: default;
}

.update-popup {
    display: block;
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: 8;
    width: 12rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.update-popup button {
    display: inline-block;
    margin: 0.2rem 0 0.2rem 0;
    width: 100%;
    text-align: right;
}

.update-popup button i {
    vertical-align: middle !important;
}

/* pomodoro-list-row to be used with update-list-row */
.pomodoro-list-row {
    /* border: thin solid #ffffff; */
    border-bottom: thin solid #dee2e6;
    border-left: thin solid #dee2e6;
    border-right: thin solid #dee2e6;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.pomodoro-list-row-selected {
    border: thin solid gray;
    border-radius: 0px;
}

.pomodoro-list-popup {
    top: 1rem;
    width: 8rem;
}

.pomodoro-list-time-slot {
    /* border-top: thin solid #dee2e6; */
    border-bottom: thin solid #dee2e6;
}

/* for pomodoro timer popups */
.timer-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9
}

.timer-popup {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    /* height: 84vh; */
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.timer-popup .timer {
    padding: 1rem;
    font-size: 2.4rem;
}

.fullscreen-button {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
}

.fullscreen-button i {
    cursor: pointer;
}

/* for pomodoro display at bottom */
.timer-bottom {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1031;
}

.timer-bottom .timer {
    font-size: 1rem;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    font-variant-numeric: tabular-nums;
}

.timer-bottom .fullscreen-button {
    right: -2rem;
    top: 50%;
    transform: translate(0, -50%);
}

.timer-bottom *:not(.fullscreen-button, .fullscreen-button i,
    .timer,
    .break-component,
    .stopwatch-component) {
    display: none;
}


.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* for loader of lists */
.loader-container {
    margin: auto;
    /* temp fix using padding */
    padding: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #0dcaf0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
    margin: 0;
}

.loader-container-2 {
    position: relative;
}

.loader-2 {
    position: absolute;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #0dcaf0;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    animation: spin 1s linear infinite;
    margin: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* for lists row */
.project-name {
    font-size: 0.875rem;
    line-height: 1.3;
}

.description {
    font-size: 0.875rem;
    line-height: 1.3;
}

.subscript {
    font-size: 0.575rem;
    padding-top: 0.2rem;
}

/* for task update */
.task-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9
}

.task-popup {
    position: fixed;
    top: 16vh;
    left: 0;
    right: 0;
    height: 70vh;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.task-close-popup {
    position: fixed;
    right: 0;
    cursor: pointer;
}

.react-calendar-heatmap .color-neutral {
    fill: rgb(33, 37, 41);
}

.react-calendar-heatmap .color-bad {
    fill: rgb(220, 53, 69);
}

.react-calendar-heatmap .color-good {
    fill: rgb(25, 135, 84);
}