.react-calendar-heatmap .color-good-0 {
    fill: hsl(120, 62%, 80%);
}

.react-calendar-heatmap .color-good-10 {
    fill: hsl(120, 62%, 75%);
}

.react-calendar-heatmap .color-good-20 {
    fill: hsl(120, 62%, 65%);
}

.react-calendar-heatmap .color-good-30 {
    fill: hsl(120, 62%, 60%);
}

.react-calendar-heatmap .color-good-40 {
    fill: hsl(120, 62%, 55%);
}

.react-calendar-heatmap .color-good-50 {
    fill: hsl(120, 62%, 50%);
}

.react-calendar-heatmap .color-good-60 {
    fill: hsl(120, 62%, 45%);
}

.react-calendar-heatmap .color-good-70 {
    fill: hsl(120, 62%, 40%);
}

.react-calendar-heatmap .color-good-80 {
    fill: hsl(120, 62%, 35%);
}

.react-calendar-heatmap .color-good-90 {
    fill: hsl(120, 62%, 30%);
}

.react-calendar-heatmap .color-good-100 {
    fill: hsl(120, 62%, 25%);
}

.react-calendar-heatmap .color-neutral-0 {
    fill: hsl(216, 100%, 80%);
}

.react-calendar-heatmap .color-neutral-10 {
    fill: hsl(216, 100%, 75%);
}

.react-calendar-heatmap .color-neutral-20 {
    fill: hsl(216, 100%, 65%);
}

.react-calendar-heatmap .color-neutral-30 {
    fill: hsl(216, 100%, 60%);
}

.react-calendar-heatmap .color-neutral-40 {
    fill: hsl(216, 100%, 55%);
}

.react-calendar-heatmap .color-neutral-50 {
    fill: hsl(216, 100%, 50%);
}

.react-calendar-heatmap .color-neutral-60 {
    fill: hsl(216, 100%, 45%);
}

.react-calendar-heatmap .color-neutral-70 {
    fill: hsl(216, 100%, 40%);
}

.react-calendar-heatmap .color-neutral-80 {
    fill: hsl(216, 100%, 35%);
}

.react-calendar-heatmap .color-neutral-90 {
    fill: hsl(216, 100%, 30%);
}

.react-calendar-heatmap .color-neutral-100 {
    fill: hsl(216, 100%, 25%);
}

.react-calendar-heatmap .color-bad-0 {
    fill: hsl(12, 100%, 80%);
}

.react-calendar-heatmap .color-bad-10 {
    fill: hsl(12, 100%, 75%);
}

.react-calendar-heatmap .color-bad-20 {
    fill: hsl(12, 100%, 65%);
}

.react-calendar-heatmap .color-bad-30 {
    fill: hsl(12, 100%, 60%);
}

.react-calendar-heatmap .color-bad-40 {
    fill: hsl(12, 100%, 55%);
}

.react-calendar-heatmap .color-bad-50 {
    fill: hsl(12, 100%, 50%);
}

.react-calendar-heatmap .color-bad-60 {
    fill: hsl(12, 100%, 45%);
}

.react-calendar-heatmap .color-bad-70 {
    fill: hsl(12, 100%, 40%);
}

.react-calendar-heatmap .color-bad-80 {
    fill: hsl(12, 100%, 35%);
}

.react-calendar-heatmap .color-bad-90 {
    fill: hsl(12, 100%, 30%);
}

.react-calendar-heatmap .color-bad-100 {
    fill: hsl(12, 100%, 25%);
}