.chart-card {
    border: thin solid rgb(222, 222, 222);
    /* margin-bottom: 4px; */
    /* margin-left: 2px; */
    /* margin-right: 2px; */
    border-radius: 4px;
    background-color: #ffffff;
}