.chart-card {
    border: thin solid rgb(222, 222, 222);
    margin-top: 16px;
    /* margin-bottom: 8px; */
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #ffffff;
}

.chart-container {
    position: relative;
}

.chart-empty {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #ffffff;
}