.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* css for projects list */

.list-row {
  cursor: pointer;
  border-bottom: thin solid #dee2e6;
}

.list-row .list-button {
  display: none;
}

/* change color if list row is selected */
.list-selected {
  background-color: #0dcaf0;
  pointer-events: none;
}

/* display the button if list row is selected */
.list-selected .list-button {
  display: inline;
  pointer-events: all;
  cursor: default;
}

/* hover doesn't work correctly on mobile device */

/* @media screen and (min-width: 768px) { */

/* .list:hover {
  background-color: #dee2e6;
} */

/* .list-row:hover .list-button {
  display: block;
}

.list-row:hover .list-secondary-text {
  display: none;
} */


/* for tasks list */
.task-list-row {
  border-bottom: thin solid #dee2e6;
}

.task-list-row .task-list-button {
  display: none;
}

.task-list-row:hover .task-list-button {
  display: inline;
}